@model List<ProjectModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <form asp-controller="Project" asp-action="Create">
        <input type="submit" value="Add project" class="btn btn-primary" />
    </form>
    <table class="ProjectTable">
        <tr>
            <th>Short</th>
            <th>Description</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>actions</th>
        </tr>
        @foreach (ProjectModel project in Model)
        {
            <tr>
                <td>@project.ShortDesc</td>
                <td>@project.Desc</td>
                <td>@project.Category</td>
                <td>@project.Difficulty</td>
                <td> 
                    <a class="navbar-brand" asp-controller="Project" asp-action="Edit" asp-route-shortdesc="@project.ShortDesc">edit</a> 
                    |
                    <a class="navbar-brand" asp-controller="Project" asp-action="Delete" asp-route-shortdisc="@project.ShortDesc">delete</a>
                </td>
            </tr>
        }
    </table>
</div>
<style>
    tr {
        border-bottom: 2px solid gray;
    }

    th {
        padding: 5px;
    }

    tr:nth-child(even) {
        background-color: lightblue;
    }

    tr:nth-child(odd) {
        background-color: cornflowerblue;
    }
</style>